*{
    margin: 0;
    padding: 0;
}

.topbar nav{
    padding: 1rem;
    display: flex;
    background-color: rgb(29, 33, 96);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.topbar nav button{
    border: none;
    width: 40px;
    height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.topbar nav button img{
    width: 200px;
    height: 50px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding-top: 40px;
}

body{
    padding-top: 72px;
}

.left{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.right{
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: auto;
    padding-right: 70px;
}

.logotop{
    height: 40px;
    width: auto;
    margin-left: 20px;
}

.topbar .buttons{
    height: 40px;
    width: auto;
}

.mapwhite button img{
    content: url(../../img/map-white.png);
    border-radius: 10px;
}

.mapwhite button:hover img{
    content: url(../../img/map-blue.png);
    background-color: white;
    border-radius: 10px;
}

nav button{
    cursor: pointer;
}

.eventwhite button img{
    content: url(../../img/event-white.png);
}

.eventwhite button:hover img{
    content: url(../../img/event-blue.png);
    background-color: white;
    border-radius: 10px;
}

.back-button a{
    text-decoration: none;
}

.back-button{
    align-self: flex-start;
    margin-top: -20px;
    margin-left: 20px;
}

.button-link:focus{
    outline: none;
    box-shadow: none;
}

.back-button button{
    border: 2px solid black;
    padding-top: 7px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 60%;
    background-color: lightgray;
    cursor: pointer;
    color: black;
    font-size: 20px;
    display: flex;
}

.back-button button:hover{
    background-color: gray;
    color: white;
}

.topbar .middle{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    width: 62%;
    border-radius: 10px;
    height: 10px;
    margin-left: 60px;
    color: gray;
}

.middle button{
    cursor: pointer;
    background-color: black;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: var(--drawer-w);
    background: rgb(29, 33, 96);
    color: white;
    transform: translateX(-100%);
    transition: transform 0.23s ease;
    z-index: 1001;
    padding: 12px 14px 16px;
    padding-top: 72px;
}

.sidebar-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 6px 2px 10px;
    border-bottom: 1px solid white;
}

.sidebar .logotop{
    height: 60px;
    width: auto;
    margin-left: 10px;
}

.sidebar-header-text{
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
}

.menu{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    gap: 20px;
    padding: 10px 2px 0;
    font-size: 15px;
}

.menu a{
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu a:hover{
    background: rgb(19, 22, 63);
}

.menu img{
    width: auto;
    height: 30px;
    margin-right: 10px;
}

.menu a img{
    width: 22px;
    height: 22px;
}

.menu a span{
    display: flex;
}

.overlay{
    position: fixed;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
    z-index: 999;
}

.hamburger{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0;
    background: transparent;
    padding: 0;
}

.hamburger img{
    height: 40px;
    width: auto;
}

#navchk:checked ~ .sidebar{
    transform: translateX(0);
}

#navchk:checked ~ .overlay{
    opacity: 1;
    pointer-events: auto;
}

main h3{
    font-size: 30px;
    margin-bottom: 20px;
}

.container{
    background-color: rgb(29, 33, 96);
    height: 30rem;
    color: white;
    border-radius: 20px;
    padding: 40px;
}

.container form .start,
.container form .location,
.container form .room,
.container form p{
    display: block;
    margin-bottom: 30px;
}

.container form .time,
.container form .name{
    margin-bottom: 30px;
}

.container form{
    margin-bottom: 30px;
}

.container form .start input,
.container form .date input,
.container form .time input,
.container form select{
    height: 25px;
    width: 150px;
    box-sizing: border-box;
}

.container form .start input,
.container form .date input{
    width: 330px;
}

.container form .time input{
    width: 148px;
}

.container form .date input{
    margin-left: 17px;
    text-align: center;
}

.start{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.start .name label{
    margin-right: 10px;
}

.start .name input{
    padding-left: 5px;
}

.time{
    display: flex;
}

.time input{
    text-align: center;
}

.time .tm{
    margin-right: 10px;
}

.time .tm input{
    margin-left: 14px;
}

.time .to label{
    margin-right: 5px;
}

.loc{
    display: flex;
}

.loc p{
    margin-right: 70px;
}

.loc select{
    margin-left: 10px;
}

.room{
    display: flex;
    gap: 20px;
    margin-left: 182px;
}

.room select{
    margin-left: 10px;
}

.poster{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.submit{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18vh;
}

.submit input{
    height: 40px;
    width: 400px;
    border-radius: 20px;
}

.submit input:hover{
    cursor: pointer;
    background-color: grey;
    color: white;
}

.submit input:active{
    cursor: pointer;
    background-color: rgb(207, 207, 207);
    color: black;
}
